@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --main-color: #FF6800;
}


nav{
    position: fixed;
    width: 100%;
    height: 90px;
    background: #f0f8ff;
    box-shadow: 0 2px 20px #000000a2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    user-select: none;
    opacity: 1;
    animation: to-bottom .8s ease forwards;
}

nav .logo img{
    height: 50px;
}

nav #navbar{
    list-style: none;
    display: flex;
    gap: 50px;
}

nav #navbar li a{
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    transition: .3s;
}


nav #navbar li .activ,
nav #navbar li a:hover{
    color: var(--main-color);
}

nav #navbar #close{
    display: none;
}

nav button{
    padding: 15px 20px;
    background-color: var(--main-color);
    color: #000;
    border: 2px solid var(--main-color);
    box-shadow: 0px 0px 10px 1px var(--main-color);
    border-radius: 4px;
    text-transform: capitalize;
    transition: .3s;
}

nav button:hover{
    box-shadow: 0px 0px 20px 3px var(--main-color);
    color: #ffffff;
}

nav button:active{
    transform: scale(1.1);
}

nav .mobile{
    display: none;
}


 /* MEDIA QUERIES */

 @media screen and (max-width: 850px){
    #navbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        width: 300px;
        padding: 80px;
        position: fixed;
        top: 0;
        background-color: #f0f8ff;
        box-shadow: 0 40px 60px #0000003b;
        transition: all 0.4s ease;
        /* right: -300px; */
    }
    
    nav #navbar #close{
        display: flex;
        font-size: 2rem;
        position: absolute;
        top: 20px;
        right: 25px;
    }

    nav .active{
        right: 0px;
    }

    nav{
        justify-content: space-between;
        padding: 0 50px;
    }

    nav .btn{
        display: flex;
    }

    nav .mobile{
        display: flex;
        align-items: center;
        font-size: 2rem;
        padding: 0 0 0 20px;
    }
 }


















@keyframes to-bottom{
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
