@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    text-decoration: none;
    list-style: none;

}

:root{
    --main-color: #FF6800;
}


nav{
    position: fixed;
    width: 100%;
    height: 90px;
    background: #f0f8ff;
    box-shadow: 0 2px 20px #000000a2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    user-select: none;
    opacity: 1;
    animation: to-bottom .8s ease forwards;
}

nav .logo img{
    height: 50px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    transition: .3s;
}


nav ul li .active,
nav ul li a:hover{
    color: var(--main-color);
}

nav button{
    padding: 15px 20px;
    background-color: var(--main-color);
    color: #ffffff;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    text-transform: capitalize;
    transition: .3s;
}

nav button:hover{
    box-shadow: 0px 2px 10px 2px var(--main-color);
    border: 2px solid #CF5400;
    color: #000;
}

nav button:active{
    transform: scale(1.1);
}






















@keyframes to-bottom{
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
